/* Custom checkbox styles */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ddd;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #6b46c1;
  /* Purple color */
  border-color: #6b46c1;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  /* top: 3px;
    left: 3px;
    width: 8px;
    height: 8px; */
  background-color: white;
  border-radius: 2px;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(107, 70, 193, 0.5);
  /* Focus ring for purple */
}


/* Custom radio button styles */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ddd;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

input[type="radio"]:checked {
  background-color: #6b46c1;
  /* Purple color */
  border-color: #6b46c1;
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  /* top: 4px;
    left: 4px; */
  /* width: 8px; */
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(107, 70, 193, 0.5);
  /* Focus ring for purple */
}